/* CSS for all added content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);

.col-sm-one {
    border: none;
}
.col-sm-three {
    border: none;
}
.col-sm-two {
    border-color: navajowhite;
    color: white;
    background-color:green;
    padding-bottom: 100%;
    margin-bottom: -100%;
    justify-content: center;
    column-width: 100rem;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title {
    text-align: center;
}
.findme {
    align-content: flex-start;
}